In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
ds = pd.read_csv(r'C:\Users\SUNIL\Desktop\Machine Learning\Machine Learning A-Z (Codes and Datasets)\Part 9 - Dimensionality Reduction\Section 43 - Principal Component Analysis (PCA)\Python\Wine.csv')

In [3]:
ds

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

In [4]:
x = ds.iloc[:, :-1].values
y = ds.iloc[:, -1].values

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Applying LDA

In [9]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
model = LDA(n_components = 2)
x_train = model.fit_transform(x_train, y_train)
x_test = model.transform(x_test)

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state = 0)
model.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [11]:
y_pred = model.predict(x_test)
y_pred

array([3, 2, 1, 2, 1, 3, 2, 1, 3, 2, 1, 1, 2, 1, 2, 2, 3, 1, 2, 1, 1, 2,
       3, 2, 1, 3, 1, 1, 1, 3, 2, 3, 3, 1, 2, 2, 2, 2, 2, 1, 1, 2, 3, 1,
       1, 1, 2, 1, 1, 1, 2, 3, 3, 1], dtype=int64)

In [12]:
y_test

array([3, 2, 1, 2, 1, 3, 2, 1, 3, 2, 1, 1, 2, 1, 2, 2, 3, 1, 2, 1, 1, 2,
       3, 2, 1, 3, 1, 1, 1, 3, 2, 3, 3, 1, 2, 2, 2, 2, 2, 1, 1, 2, 3, 1,
       1, 1, 2, 1, 1, 1, 2, 3, 3, 1], dtype=int64)

In [13]:
y_pred_ds = pd.DataFrame(y_pred, columns = ['Predicted Values'])
y_pred_ds

    Predicted Values
0                  3
1                  2
2                  1
3                  2
4                  1
5                  3
6                  2
7                  1
8                  3
9                  2
10                 1
11                 1
12                 2
13                 1
14                 2
15                 2
16                 3
17                 1
18                 2
19                 1
20                 1
21                 2
22                 3
23                 2
24                 1
25                 3
26                 1
27                 1
28                 1
29                 3
30                 2
31                 3
32                 3
33                 1
34                 2
35                 2
36                 2
37                 2
38                 2
39                 1
40                 1
41                 2
42                 3
43                 1
44                 1
45                 1
46                 2
47                 1
48                 1
49                 1
50                 2
51                 3
52                 3
53                 1

In [14]:
y_test_ds = pd.DataFrame(y_test, columns = ['Actual Values'])
y_test_ds

    Actual Values
0               3
1               2
2               1
3               2
4               1
5               3
6               2
7               1
8               3
9               2
10              1
11              1
12              2
13              1
14              2
15              2
16              3
17              1
18              2
19              1
20              1
21              2
22              3
23              2
24              1
25              3
26              1
27              1
28              1
29              3
30              2
31              3
32              3
33              1
34              2
35              2
36              2
37              2
38              2
39              1
40              1
41              2
42              3
43              1
44              1
45              1
46              2
47              1
48              1
49              1
50              2
51              3
52              3
53              1

In [15]:
pd.concat([y_test_ds, y_pred_ds], axis = 1)

    Actual Values  Predicted Values
0               3                 3
1               2                 2
2               1                 1
3               2                 2
4               1                 1
5               3                 3
6               2                 2
7               1                 1
8               3                 3
9               2                 2
10              1                 1
11              1                 1
12              2                 2
13              1                 1
14              2                 2
15              2                 2
16              3                 3
17              1                 1
18              2                 2
19              1                 1
20              1                 1
21              2                 2
22              3                 3
23              2                 2
24              1                 1
25              3                 3
26              1                 1
27              1                 1
28              1                 1
29              3                 3
30              2                 2
31              3                 3
32              3                 3
33              1                 1
34              2                 2
35              2                 2
36              2                 2
37              2                 2
38              2                 2
39              1                 1
40              1                 1
41              2                 2
42              3                 3
43              1                 1
44              1                 1
45              1                 1
46              2                 2
47              1                 1
48              1                 1
49              1                 1
50              2                 2
51              3                 3
52              3                 3
53              1                 1

In [16]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[23,  0,  0],
       [ 0, 19,  0],
       [ 0,  0, 12]], dtype=int64)

In [17]:
accuracy_score(y_test, y_pred)

1.0